<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hi</title>
  </head>
  <body>
    <h1>Hi, <%= username %>!</h1>
    <p>You have successfull purchased the course: <%= name %>. and your order id is : <%= orderId %></p>
    <p>Total cost <%= price %> paid by ... </p> 
    <p>Date: <%= date %></p>
  </body>
</html>
